<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Versatile , Communicative and creative. I am easily motivated, and passionate about challenges, during my experience at Formula Student i learned to work on different scenarions, from high volatility tasks on short deadlines to long and detailed projects and reports.
            </p>
            <p class="paragraph-text justify-text">
                I believe in persons, for me every mistake is an opportunity to learn and grow. Learning to deal with different personalities and emotions is something that i work at daily, because for me, part of being a good teamworker is to understand and motivate people around you.  
            </p>
            <p class="paragraph-text justify-text">
                I love to cook, swim and if i coulf i would have music playing 24/7. 
            </p>
        </div>
    </section>
</div>
